* {
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {
    margin: 0px;
}

.mega-container {
    /* border: 1px solid black; */
    position: relative;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 575px;  
}

nav {
    background-color: #121867;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav .menu-item {
    color: #ce2e83;
    display: inline-block;
    font-size: 1.3em;
    margin: 10px;   
    position: relative;
    left: 25px;
}

nav .menu-item:nth-child(1) {
    position: relative;
    left: 25px;
}

.image-container {
    border: 1px solid black;
}

.image-container img {
    width: 100%;
}

.image-container .buy {
    position: absolute;
    background-color: #121867;
    color: #ce2e83;
    border-radius: 25px;
    padding: 25px;

    top: 250px;
    left: 50%;
}

