* {
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {
    margin: 0px;
}

.mega-container {
    /* border: 1px solid black; */
    position: relative;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 575px;  
}

nav {
    background-color: #121867;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav .menu-item {
    color: #ce2e83;
    display: inline-block;
    font-size: 1.3em;
    margin: 10px;   
    position: relative;
    left: 25px;
}

nav .menu-item:nth-child(1) {
    position: relative;
    left: 25px;
}

.image-container {
    /* border: 1px solid black; */
    position: relative;
}

.image-container img {
    width: 100%;
}

.image-container .buy {
    position: absolute;
    background-color: #121867;
    color: #ce2e83;
    border-radius: 25px;
    
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;

    top: 180px;
    left: 66%;

    text-align: center;
}


.image-container .buy .buy-button {
    background-color: #ce2e83;
    color: white;

    padding: 15px;
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 10px;
}

.image-container>p {
    text-align: center;
    color: #144893;
    font-size: 2.4em;
}

.imgs-with-description {
    /* border: 1px solid black; */
    text-align: center;
}

.imgs-with-description .border-top , .imgs-with-description .border-bottom {
    border-top: #ce2e83 solid;
    width: 25%;
    margin: 0 auto;
}

.imgs-with-description .border-top {
    margin-bottom: 20px;
}

.imgs-with-description .border-bottom {
    margin-top: 30px;
}

.imgs-with-description figure {
    display: inline-block;
    /* border: 1px solid black; */
    margin: 0px;
}

.imgs-with-description figure img {
    width: 50%;
}

.texts-with-img {
    border: 1px solid black;
    margin-top: 25px;
    overflow-y: auto;
}

.texts-with-img .container-to-center img {
    border: 1px solid black;
    float: left;
}

.texts-with-img p {
    color: #144893;
}

.container-to-center {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
}