* {
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    position: relative;
}

.container {
    margin: 20px auto;
    width: 80%;
    height: 600px;
    top: 70px;
    position: relative;
    background-color: #9deb92;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container nav {
    background-color: gray;
    padding: 10px;
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.nav-item {
    color: white;
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    width: 20%;
}

figure {
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    text-align: center; /* Texto sin <p></p> e <img> son elementos en línea y se centran con text-align en su etiqueta padre */
    width: 25%;
    position: absolute;
}

#li1 {
    top: 150px;
    left: 20%;
    transform: rotate(-0.125turn);
    z-index: 5;
}

#li2 {
    top: 160px;
    left: 30%;
    transform: rotate(0.125turn);
    z-index: 4;
}

#li3 {
    top: 200px;
    left: 39%;
    transform: rotate(-0.05turn); 
    z-index: 3;
}

#li4 {
    top: 240px;
    left: 50%;
    transform: rotate(0.05turn); 
    z-index: 2;
}

img {
    width: 80%;
    padding-top: 10px;
}

figcaption {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fixed-sidebar{
    border: 3px solid black;
    position: fixed;
    top: 50%;
    width: 100px;
    height: 400px;
    margin-top: -200px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    text-align: center;
}

.fixed-sidebar ul {
    list-style: none;
    padding-left: 5px;
}

